{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Recent Articles</h2>

    <div class="article-block">
            <div class="article">
                <h2>Mitosis</h2>
                <p>In cell biology, mitosis (/maɪˈtoʊsɪs/) is a part of the cell cycle in which replicated</p>
                <p>chromosomes are separated into two new nuclei. Cell division by mitosis gives rise to</p>
                <p> genetically identical cells in which the total number of chromosomes is maintained.</p>
                <p>Comments: No recent comments...</p>
            </div>
    </div>
{% endblock %}
 
