{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>Recent Articles</h2>

    <div class="article-block">
            <div class="article">
                <h2>Mitosis</h2>
                <p>In cell biology, mitosis (/maɪˈtoʊsɪs/) is a part of the cell cycle in which replicated          </p>
                <p>chromosomes are separated into two new nuclei. Cell division by mitosis gives rise to genetically</p>
                <p>identical cells in which the total number of chromosomes is maintained. Therefore, mitosis is</p>
                <p>known as equational division. In general, mitosis is preceded by S phase of interphase and is</p>
                <p>often followed by telophase and cytokinesis; which divides the cytoplasm, organelles and cell</p>
                <p>membrane of one cell into two new cells containing roughly equal shares of these cellular</p>
                <p>components. The different stages of mitosis altogether define the mitotic (M) phase of a cell</p>
                <p>cycle—the division of the mother cell into two daughter cells genetically identical to each other</p>
                <p>The process of mitosis is divided into stages corresponding to the completion of one set of</p>
                <p>activities and the start of the next. These stages are preprophase, prophase, prometaphase,</p>
                <p>metaphase, anaphase, and telophase. During mitosis, the chromosomes, which have already</p>
                <p>duplicated, condense and attach to spindle fibers that pull one copy of each chromosome to</p>
                <p>opposite sides of the cell. The result is two genetically identical daughter nuclei.</p>
                <p>The rest of the cell may then continue to divide by cytokinesis to produce two daughter cells.</p>
                <p>The different phases of mitosis can be visualized in real time, using live cell imaging.</p>
                <p>Producing three or more daughtercells instead of the normal two is a mitotic error called tripolar</p>
                <p>mitosis or multipolar mitosis.</p>
                <p>Other errors during mitosis can induce mitotic catastrophe, apoptosis (programmed cell death) or</p>
                <p>cause mutations. Certain types of cancer can arise from such mutations.</p>
                <p><a href="{% url 'show_articles' %}">Close</a></p>
                <p>Comments: No recent comments...</p>
            </div>
    </div>
{% endblock %}